@font-face {
  font-family: "Rozanova";
  src: url("assets/fonts/RozanovaGEO-Demo-Thin.otf");
}

* {
  font-family: Rozanova;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.esthetic {
  width: 323px;
  height: 700px;
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  left: 18%;
}

.pantone-container {
  width: 100%;
  height: 10%;
  display: flex;
}

.pantone {
  flex: 1;
  border: 1px solid grey;
}

#tiles-container {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: absolute;
  top: calc(10% + 60px);
}

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

#playlist {
  display: flex;
  position: relative;
  justify-content: center;
  top: 510px;
}

#playlist-wrapper {
  width: 95%;
}

#playlist-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #f0f0f0;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
}

#playlist-placeholder:hover {
  filter: brightness(0.8);
}

#color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

#color-picker-wrapper {
  position: relative;
  margin-bottom: 10px;
}

#set-color {
  margin-top: 150px;
}

.popup-div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.esthetic {
  position: relative;
  overflow: hidden;
}

.popup-div h3 {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

.animated-gradient {
  position: fixed; /* or use 'absolute' if you prefer */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(255, 182, 193, 1) 0%,
    rgba(255, 160, 122, 1) 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
  z-index: -1; /* Make sure the gradient is behind the content */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#text {
  position: absolute;
  height: 40vh;
  width: 50vw;
  left: 4%;
  top: 10%;
}
